<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      html {height: 100%; width: 100%;} 
      body {height: 100%; width: 100%; background-color: #BEBAB9;}
      #root {height: 100%; width: 100%;}
    </style>
</head>
<body>